<!DOCTYPE html>
<html>
    <head>
        <title>
            Ryan's Dirty Little Secrets
        </title>

        <style>
            .error {
                color: red;
            }
            .success {
                color: lime;
            }
        </style>
    </head>
    <body>
        <div style="float: left;">
            <a href="/blog">Home</a> | <a href="/blog">View All Posts</a> | <a href="/newpost">Add a New Post</a>            
        </div>
        <div style="float: right;">
            <a href="/login">Log In</a> | <a href="/logout">Log Out</a> 
        </div>
        <hr>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category, message in messages %}
                <li class={{category}}>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
    <foot>
        <hr>
        <div>
            <a href="/blog">Main Blog Page</a> | <a href="/newpost">Add a New Post</a>
        </div>
    </foot>
</html>