{% extends "base.html" %}

{% block content %}
<h2 class="title">Make an account to start blogging!</h2>

<form action="/signup" method="POST">
    <table>
        <tr>
            <td>
                <label>Username:<br><input type="text" name="username" size="30" value="{{username}}" /></label> 
            </td>
            <!-- 
            <td class="error">
                {{username_error}}
            </td>
            -->
        </tr>
        <tr>
            <td>
                <label>Password:<br><input type="password" name="password" size="30" /></label> 
            </td>
            <!--
            <td class="error">
                {{password_error}}
            </td>
            -->
        </tr>
        <tr>
            <td>
                <label>Verify Password:<br><input type="password" name="verify" size="30" /></label> 
            </td>
            <!--
            <td class="error">
                {{verify_error}}
            </td>
            -->
        </tr>
    </table>
    <input type="submit" value="Create Account" />
</form>

{% endblock %}